body {
  background: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.color1 {
  background: #3d3d3d;
}

.color2 {
  background: #4a0e66;
}

.color3 {
  background: #680099;
}

.color4 {
  background: #9000d4;
}

.color5 {
  background: #bd30ff;
}

.filters {
  display: flex;
  justify-content: center;
  width: 450px;
  gap: 14px;
}

.year-picker {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  background-color: #242424;
  border-radius: 6px;
}

.select {
  background-color: #242424;
  border-radius: 6px;
}
